<!DOCTYPE html>

<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  
<head>
    <meta charset="UTF-8">
    <title>検索結果</title>
</head>
  
<body>
    <h1>[[${word}]] を含むつぶやき</h1>
    <ul>
        <h2>[[${searchList.size()}]]件のつぶやきが見つかりました</h2>
        <li th:each="t: ${searchList}">
            [[${t.comment}]] -- [[${t.name}]] on [[${t.createdAt}]]
        </li>
    </ul>
  
    <h2>みんなのつぶやきへ</h2>
    <a th:href="@{/read}">戻る</a>

    <h2>タイトルへ</h2>
    <a th:href="@{/}">戻る</a>
</body>
  
</html>